{% extends 'base.html.twig' %}

{% block title %}
  La Toque - Mofification de l'utilisateur
{% endblock %}

{% block body %}
  <section class="information-edit-container">
    <div class="grid-edit-container">
      <h1 class="edit-h1">
        Modifier mes informations personnelles 
      </h1>
      {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
          {{ message }}
        </div>
      {% endfor %}

      <div class="information-edit-form">
        {{ form(form) }}
      </div>
    </div>
    <div class="left-edit-img"></div>
  </section>
{% endblock %}
