.landingPage {
  .backgroundImage {
    width: 100%;
    background-image: url("../images/pexels-william-choquette-2641886.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    gap: 70px;
    z-index: 1000;
    .landingPageTitle {
      font-size: 7rem;
      color: #f9e8e7;
      letter-spacing: 1px;
      width: 40%;
      line-height: 95%;
      z-index: 1000;
      span {
        font-style: italic;
        z-index: 1000;
      }
    }
    .paragraph {
      padding-bottom: 40px;
      font-size: 2rem;
      width: 60%;
      color: white;
      z-index: 1000;
    }
    .btnBox {
      display: flex;
      gap: 40px;

      .btn-registration {
        font-family: "Poppins", sans-serif;
        background-color: #f1746d;
        height: 65px;
        border-radius: 25px;
        font-size: 22px;
        padding: 15px 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        border: none;
        cursor: pointer;
        transition: 300ms ease-in-out;

        a {
          color: white;
        }
      }
      .btn-registration:hover {
        transform: scale(1.1);
        transition: 300ms ease-in-out;
      }

      .btn-login {
        font-family: "Poppins", sans-serif;
        background-color: #07393e;
        height: 65px;
        border-radius: 25px;
        font-size: 22px;
        padding: 15px 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        border: none;
        cursor: pointer;
        transition: 300ms ease-in-out;

        a {
          color: white;
        }
      }
      .btn-login:hover {
        transform: scale(1.1);
        transition: 300ms ease-in-out;
      }
    }
  }

  .arrows {
    width: 100px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 30px;
  }

  .arrows path {
    stroke: antiquewhite;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  }

  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  }

  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  }

  .description {
    height: 80vh;
    background-color: #07393e;
    position: relative;
    .descriptionContainer {
      .descriptionParagraph {
        position: absolute;

        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: antiquewhite;
        line-height: 65px;
        text-align: center;
        border-top: 1px solid salmon;
        border-bottom: 1px solid salmon;
        padding: 80px;
        border-radius: 2px;
      }
    }
  }

  .pictures {
    .img-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .span-text {
        font-size: 6rem;
        width: 50%;
        color: #fff5ee;
        font-weight: 900;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 50;
      }
      .picture {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        box-shadow: 5px 2px 2px gray;
        overflow: hidden;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
      .img-1 {
        background-image: url(../images/edgar-castrejon-1CsaVdwfIew-unsplash.jpg);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
      .img-2 {
        background-image: url(../images/pexels-tijana-drndarski.jpg);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
      .img-3 {
        background-image: url(../images/slashio-photography-8KzRP2YY6ag-unsplash-min.jpg);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
    }
  }

  .repeatConnexion {
    .grid-container-connexion {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .left-img-container {
        background-image: url(../images/brooke-lark-min.jpg);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 800px;
      }

      .right-btn-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #07393e;
        color: antiquewhite;

        .joinLaToque {
          font-size: 3rem;
          width: 70%;
          font-weight: 600;
          padding-bottom: 30px;
          background-color: transparent;
        }
        .btnBox {
          font-size: 2rem;
          padding-top: 50px;
          font-weight: 800;
          letter-spacing: 2px;
          display: flex;
  
        


         .btn-registration {
        font-family: "Poppins", sans-serif;
        background-color: #f1746d;
        height: 65px;
        border-radius: 25px;
        font-size: 22px;
        padding: 15px 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        border: none;
        cursor: pointer;
        transition: 300ms ease-in-out;

        a {
          color: white;
        }
      }
      .btn-registration:hover {
        transform: scale(1.1);
        transition: 300ms ease-in-out;
      }

          .btn-login {
        font-family: "Poppins", sans-serif;
        background-color:#f9e8e7;
        height: 65px;
        border-radius: 25px;
        font-size: 22px;
        padding: 15px 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        border: none;
        cursor: pointer;
        transition: 300ms ease-in-out;
        margin-left: 40px;

        a {
          color: white;
        }
      }
      .btn-login:hover {
        transform: scale(1.1);
        transition: 300ms ease-in-out;
      }
        }
      }
    }
  }

  .social {
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;

    .socialNetwork {
      background-image: linear-gradient(
        to right,
        rgba(245, 214, 165, 1) 0%,
        #fcb69f 100%
      );
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      text-align: center;
      align-items: center;
      position: relative;
      gap: 100px;
      .socialTitle {
        width: 50%;
        display: flex;
        flex-direction: column;

        .likeUs {
          font-size: 5rem;
          color: #f1746d;
          font-weight: 600;
          font-style: italic;
          letter-spacing: 1px;
          line-height: 100px;
        }
        .followUs {
          font-size: 2rem;
          color: #07393e;
          margin-top: 20px;
          letter-spacing: 1px;
        }
      }

      .social-icons {
        .socialList {
          display: flex;
          justify-content: space-between;

          .logo-insta {
            padding-right: 50px;
          }
        }
      }
      .slogan {
        position: absolute;
        bottom: 0;
        color: #07393e;
        padding-bottom: 20px;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        .jpn {
          color: #f1746d;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
    }
    .socialPictures {
      background-image: url(../images/4263211.jpg);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
      height: 800px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
    }
  }
}
