.landingUserPage-container {
  background-color: #07393e;
  height: 100vh;
  overflow: hidden;
  .gridLandingUser {
    display: grid;
    grid-template-columns: 40% 60%;
    .containerHeroUser {
      padding-top: 100px;
      position: relative;
      justify-content: center;
     
      .titles {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .landingPageUserH1 {
          font-size: 4rem;
          color: antiquewhite;
        }
        .landingPageUserH2 {
          font-size: 2rem;
          color: antiquewhite;
          font-weight: 600;
          width: 60%;
        }
      }
      .landingPageUserparagraph {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 60px;
        margin: 0 auto;
        width: 80%;

        p {
          font-size: 1.2rem;
          color: antiquewhite;
          line-height: 35px;
          text-align: center;
          border-top: 1px solid salmon;
          border-bottom: 1px solid salmon;
          padding: 40px;
          border-radius: 2px;
        }
      }
      .btn-user {
        width: 100%;
        .btn-user-ul {
          display: flex;
          gap: 40px;
          align-items: center;
          text-align: center;
          position: absolute;
          left: +50%;
          transform: translate(-50%, +50%);
          bottom: 15%;
          width: fit-content;
          

          .btn-logout {
            margin-top: 30px;
            font-family: "Poppins", sans-serif;
            background-color:#f9e8e7;
            height: 65px;
           
            border-radius: 25px;
            font-size: 22px;
            padding: 15px 20px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 30px;
            border: none;
            cursor: pointer;
            transition: 300ms ease-in-out;
            &:hover {
              transform: scale(1.1);
              transition: 300ms ease-in-out;
            }
          }

          .btn-update {
            margin-top: 30px;
            font-family: "Poppins", sans-serif;
            background-color:#f1746d;
            height: 65px;
           
            border-radius: 25px;
            font-size: 22px;
            padding: 15px 20px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 30px;
            border: none;
            cursor: pointer;
            transition: 300ms ease-in-out;
            &:hover {
              transform: scale(1.1);
              transition: 300ms ease-in-out;
            }
          }
        }
      }
    }
    .grid-gallerie-container {
      margin: 20px;
      display: grid;

      grid-template-columns: 1fr 40%;
      grid-template-rows: 55vh 40vh;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      grid-auto-flow: dense;

      .gallerie-item {
        width: 100%;
        height: 100%;
        position: relative;

        // &::after{
        //   content:"";
        //   position: absolute;
        //   top:0;
        //   left:0;
        //   width:100%;height: 100%;
        //   background-color: rgba(0,0,0,0.4);
        //   z-index: -1;
        // }
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 5rem;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 1px;
        text-align: center;
        cursor: pointer;
        z-index: 100;
      }

      .img-grid-user {
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          transition: 0.5s ease-in-out;
          border-radius: 10px;
          z-index: 50;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          transition: 0.3 ease-in-out;
          filter: opacity(0.7);
        }
        img:hover {
          transform: scale(1.2);
          transition: 0.3 ease-in-out;
        }
      }
    }
  }
}
