.login-container {
  background-repeat: repeat;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  .left-login-img {
    background-image: url(../images/brooke-lark-Xr8zuPfy-KE-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  form {
    border: 2px solid #9bcadc;
    border-radius: 5px;
    padding: 50px;
  }
  .login-grid {
    background-color: #ffc6b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    align-items: center;

    .login-h1 {
      font-size: 4rem;
      color: #07393e;
      text-align: center;
      font-weight: 400;
      padding: 30px;
      padding-bottom: 80px;
    }

    .form-label {
      font-size: 1.2rem;
      text-align: left;
      text-align: left;
      padding-bottom: 20px;
    }
    .form-control {
      padding: 5px;
      background-color: transparent;
      border: none;
      margin-left: 20px;
      border-bottom: 1px solid black;
    }
    .input {
      background-color: transparent;
    }
    .form-group {
      padding-bottom: 20px;
    }
    .flex-input {
      display: flex;
      flex-direction: column;
      padding: 5px;
      font-style: italic;
    }
    .form-btn-login {
      font-size: 1rem;
      border: 1px solid salmon;
      border-radius: 5px;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 20px;
      position: relative;
      left: 0;
      background: #9bcadc;
      cursor: pointer;
    }
  }
}
