.login-container {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  @media screen and (max-width: 1600px) {
    grid-template-columns: 100%;
     }

  .left-login-img {
    background-image: url(../images/brooke-lark-Xr8zuPfy-KE-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @media screen and (max-width: 1600px) {
      display: none;
       }
  }
  form {
    border: 1px solid #07393e;
    border-radius: 20px;
    padding: 60px 50px;
    position: relative;
    @media screen and (max-width: 700px) {
            padding: 60px 10px;
    border: none;
  padding-left: 20px;}
  }

  .login-grid {
    background-color: #ffc6b9ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    align-items: center;
  
    .login-h1 {
      font-size: 4rem;
      color: #07393e;
      text-align: center;
      font-weight: 600;
      padding: 30px;
      padding-bottom: 80px;
      line-height: 80px;
      @media screen and (max-width: 700px) {
        padding-left: 20px;
        font-size: 3rem;
        }
    }

    .form-label {
      font-size: 1.3rem;
      text-align: left;
      padding-bottom: 20px;
      font-weight: 600;
    }
    .form-text {
      font-size: 1rem;
      font-weight: 400;
    }
    .loginAlert {
      font-weight: 600;
     }
    .form-control {
      padding-left: 5px;
      background-color: transparent;
      border: none;
      margin-left: 20px;
      border-bottom: 1px dashed #07393e;
      font-size: 1.2rem;
      outline: none;
      color: #07393e;
    }
    input {
      background-color: transparent;
    }

    .form-group {
      padding-bottom: 20px;
    }

    .flex-input {
      display: flex;
      flex-direction: column;
      padding: 5px;
      font-style: italic;
    }

    .form-btn-login {
      margin-top: 30px;
      font-family: "Poppins", sans-serif;
      background-color: #07393e;
      height: 65px;
      color: antiquewhite;
      border-radius: 25px;
      font-size: 22px;
      padding: 15px 20px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 30px;
      border: none;
      cursor: pointer;
      transition: 300ms ease-in-out;
    }

    .form-btn-login:hover {
      transform: scale(1.1);
      transition: 300ms ease-in-out;
    }
  }

  .noAccountBox {
    position: absolute;
    bottom: 10%;
    p {
      font-style: italic;
      font-weight: 500;
      font-size: 1rem;
      @media screen and (max-width: 700px) {
        font-size: 0.8rem;}
      a {
        color: #07393e;
        font-size: 1rem;
        font-weight: bold;
        @media screen and (max-width: 700px) {
          font-size: 0.8rem;}
      }
    }
  }
}
