nav {
  background-color: #07393e;
  height: 7vh;
  padding-top: 17px;
  position: relative;
  align-items: center;
  text-align: center;

  .navbar-container {
    display: flex;

    .navbar-ul {
      display: flex;
      justify-content: space-evenly;

      li {
        padding-left: 50px;

        a {
          padding: 10px;
          color:#FFF5EE ;
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
    }

    .rightSide-menu {
      display: flex;
      position: absolute;
      right: 50px;
      justify-content: space-between;

      .rightNav-ul {
        display: flex;
        justify-content: space-between;

        li {
          padding-left: 50px;

          a {
            
            padding: 10px;
            color:#FFF5EE ;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 1px;
      
         
          }
        
      
        }
      }
    }
  }
}
