.container-recipe {
  padding-bottom: 50px;
  margin: 0 auto;
  background-color: #9ea29f;

  .publicTitle {
    font-size: 3rem;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }
  .publicParagraph {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    line-height: 50px;
    @media screen and (max-width: 700px) {
      font-size: 1.2rem;
      line-height: 30px;
    }
  }
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 16rem));
    grid-column-gap: 150px;
    grid-row-gap: 50px;
    justify-content: center;
    max-width: 1800px;
    margin: 0 auto;

    .recipe-card {
      background-color: white;
      box-shadow: var(--card-shadow);
      border-radius: var(--global-radius);
      color: var(--card-text-color);
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
      width: 22rem;
      height: 600px;
      @media screen and (max-width: 500px) {
        width: 20rem;
        height: 620px;
      }

      figure {
        width: 100%;
        margin: 0;
        height: 14rem;
        overflow: hidden;
        border-radius: var(--global-radius) var(--global-radius) 0 0;
        margin-bottom: 2rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-title {
        margin-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: -1px;
      }
      .card-text {
        border-top: 1px solid rgba(128, 128, 128, 0.384);
        font-size: 1rem;
        margin: 0 30px 50px 20px;
        padding-top: 10px;
        overflow: hidden;
        line-height: 25px;
        text-align: justify;

        .btn-readMore {
          color: #f1746d;
          font-weight: 600;
        }
      }
      .card-meta {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        font-size: 0.8rem;
      }
      .recipe-number {
        font-weight: 600;
        letter-spacing: -0.25px;
        color: #fff;
        margin: 0;
        background-color: var(--dish-type-color);
        padding: 8px;
        border-radius: 100px;
      }
      .dish-stats {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
          opacity: 0.75;
          display: flex;
          align-items: center;
          margin-left: 1rem;

          svg {
            margin-right: 5px;
            path {
              stroke: var(--card-text-color);
              stroke-opacity: 0.25;
            }
          }
        }
      }
    }
  }

  .container-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translateY(-50px);
    padding-top: 120px;

    .inspirationP {
      font-size: 1.5rem;
      padding-bottom: 60px;
    }

    .btn-moreRecipe {
      font-family: "Poppins", sans-serif;
      background-color: transparent;
      border: 1px solid#07393e;
      color: #07393e;
      height: 65px;
      border-radius: 25px;
      font-size: 22px;
      padding: 15px 20px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 30px;
      cursor: pointer;
      transition: 300ms ease-in-out;
    }
    .btn-moreRecipe:hover {
      transform: scale(1.1);
      transition: 300ms ease-in-out;
    }
  }
}
.backToHome {
  background-color: #07393e;
width: 100%;
height: 8vh;
align-items: center;
padding: 30px;
padding-left: 50px;
a {
  color: antiquewhite;
  font-size: 1.5rem;
  font-weight: 600;
 

}
}