.updateRecipe-container {

  .updateRecipe-title{
    font-size: 3rem;
    font-weight: 500;
    align-items: left;
    text-align: left;
    padding-bottom: 50px;
    letter-spacing: 1px;
    width: 70%;
    line-height: 60px;
   }

  .updateRecipe-box {
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;

    form {
      background-color: #f9e8e7;
   padding: 80px;
   font-size: 1.2rem;
      .form-group {
       
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;

        label {
          padding-bottom: 10px;
          font-weight: 600;
       
        }
        input {
          height: 25px;
          width: 50%;
          border: none;
          border-radius: 8px;
          padding-left: 5px;
               }
     
        #recipe_description {
          height: 200px;
          width: 90%;
          padding-left: 10px;
          padding-top: 10px;
          border-radius: 5px;
        }

        .form-check-input {
          height: 15px;
          width: 5%;
        }
      }
       
      .form-groupFavorite { 
        margin-top: 20px;
        display: flex;
    
        margin-bottom: 20px;

       label { 
        padding-right:15px ;
       }
      #recipe_isFavorite { 
          align-items: center;
          text-align: center;
        }
      }
      .form-label {
        padding-bottom: 20px;
        font-weight: 600;
      }


 
      #recipe_ingredients {
        font-size: 1.2rem;
        margin-top: 10px;
        input {
          padding-left: 10px;
          margin-left: 5px;
          margin-top: 10px;
        }
        label {
         
    margin-left: 5px;
    margin-right: 10px;
        }
      }
  .formLastPart { 
    display: flex;
    flex-direction: column;
    gap: 10px;
  
.vich-image{ 
  margin-top: 10px;
  a:last-child { 
    display: none;
  }
  label { 
    display: none;
  }
  #recipe_imageFile_delete { 
    display: none;
  }
  a img { 
  
    width: 200px;
    height: 200px;
    border-radius: 10px;

  }
}
      #recipe_submit {
        font-family: "Poppins", sans-serif;
        background-color: #07393e;
        height: 65px;
        border-radius: 25px;
        font-size: 22px;
        padding: 15px 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        margin-top: 40px;
        border: none;
        cursor: pointer;
        transition: 300ms ease-in-out;
        color: antiquewhite;
      }
      #recipe_submit:hover {
        transform: scale(1.1);
        transition: 300ms ease-in;
      }
    }
  }
}
    .gridImg {
      background-image: url(../images/pexels-dapurmelodi-1109197.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding-left: 20px;
    }
  
  }

