.information-edit-container {
  background-repeat: repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  .grid-edit-container {
    background-color: #07393e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    align-items: center;

    .edit-h1 {
      font-size: 3rem;
      width: 80%;
      font-weight: 400;
      text-align: center;
      padding-bottom: 80px;
      color: #f1746d;
      @media screen and (max-width: 550px) {
        font-size: 2rem;
        width: 95%;
        }
    }
    #user {
      border: 1px solid antiquewhite;
      border-radius: 20px;
      padding: 60px 50px;
      gap: 20px;
      line-height: 50px;
      position: relative;
      @media screen and (max-width: 550px) {
        padding: 30px 20px;
        }
      .form_label {
        font-size: 1.2rem;
        color: antiquewhite;
        font-weight: 600;
        text-align: left;
        text-align: left;
        padding-bottom: 20px;
        @media screen and (max-width: 550px) {
          font-size: 0.8rem;
          }
      }
      .form-control {
        padding-left: 5px;
        background-color: transparent;
        color: antiquewhite;
        border: none;
        margin-left: 20px;
        border-bottom: 1px dashed gray;

        .input {
          background-color: transparent;
        }
      }
      .form-btn-edit {
        margin-top: 30px;
        font-family: "Poppins", sans-serif;
        background-color: #f1746d;
        height: 65px;
        color: antiquewhite;
        border-radius: 25px;
        font-size: 22px;
        padding: 15px 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        border: none;
        cursor: pointer;
        transition: 300ms ease-in-out;
      }
      .form-btn-edit:hover {
        transform: scale(1.1);
        transition: 300ms ease-in-out;
      }
    }
  }
  .backToLandingPageBox {
    position: absolute;
    bottom: 10%;
    p {
      font-style: italic;
      font-weight: 500;
      font-size: 1rem;
      color: antiquewhite;
      @media screen and (max-width: 550px) {
        font-size: 0.8rem;
        }
      a {
        color: #f1746d;
        font-size: 1rem;
        font-weight: bold;
        @media screen and (max-width: 550px) {
          font-size: 0.8rem;
          }
      }
    }
  }
  .left-edit-img {
    background-image: url(../images/pexels-maria-orlova-4940719.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @media screen and (max-width: 1200px) {
    display: none;
    }
  }
}
