<footer>
  <div class="flex-footer">
    <p class="signature">
      A Code Save the Queen | Design
    </p>
   
    <p class="slogan">
      Stay Fresh, Eat Vegetables
    </p>
 <p class="medoc">Mentions Legales | RGPD</p>
  </div>
</footer>
