<footer>
{% if app.user %}
  <div class="flex-footer">
    <p class="signature">
      A Code Save the Queen | Design
    </p>

 
     
    <p class="slogan">
      Stay Fresh, Eat Vegetables
    </p>
  
    <p class="medoc">
      Mentions Legales | RGPD
    </p>
        </div>
        {% else %}
      
        <div class="flex-footer">
    <p class="signature">
      A Code Save the Queen | Design
    </p>

 
     
    <p class="slogan">
      Stay Fresh, Eat Vegetables
    </p>
  
    <p class="medoc">
      Mentions Legales | RGPD
    </p>
       <a href="#arrowScrollUp">
      <div class="arrowUp">
        <img src="../assets/black-icons/arrowUp.svg" alt="">
      </div>
         </a>


    {% endif %}
</footer>
